<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
</head>
<body>
  <h2><%= @check.student.user.last_name  %> 様</h2>
  <hr />
  <p>いつもお世話になっております。 </p>
  <p>只今E.Everydayに到着しております。 </p>
  <p>ご確認お願い致します。 </p>

   
  <hr />
</body>
</html>