canvas, video{
  border: 1px solid gray;

 
}

header {
  background-color: #f0f0f0;
  padding: .5rem;
  text-align: right;
}
a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
li {
  margin: 2rem 0;
}
 
/* ボタン */
.btn-menu {
  border: 1px solid rgb(153, 153, 153);
  background: transparent;
  color: rgba(0, 174, 255, 0.911);
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

.lists {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}
 
/* メニュー */
nav {
  background:#444444;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  height: calc(100vh - 80px);
  transition: .5s; /* ← 追加 */
}

.na {
  background:#444444;
  position: absolute;
  z-index: 1;
  top: 2.5rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  height: calc(100vh - 80px);
  transition: .5s; /* ← 追加 */
}
/* メニューを開いた時 */
nav.open-menu {
  width: 400px;
  height: calc(100vh - 80px);
}

.na.open-teacher {
  width: 400px;
  height: calc(100vh - 80px);
}

.h1 {
  position: absolute;
  top:300px;
  left :100px;
}

.upper-content{
  height: calc(100vh - 80px - 200px);
  background-color: aqua;
  display: flex;
}



.photo-area {
  background-color: #253141;
  width: calc(100vw - 400px);
  height: 100%;
  position: relative;
}

video {
  object-fit: cover;
}

.name-area {
  position: absolute;
  top: 0px;
  left :0px;
  background-color: #444444;
  height: 50px;
  width: 100%;
  opacity: 0.7;

}

#ccc {
  position: absolute;
  top: 500px;
  left :600px;
  display: flex;
  justify-content:space-between ;

  opacity: 0.7;

}

#h1 {
  background-color: gra;

  position: absolute;
  top: 0px;
  left :80px;
  font-size: 30px;
  opacity: 0.9;
  color: white;


}




.in {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-color: rgb(144, 238, 152);
  border-width: 4px;
 color: rgb(144, 238, 152) ;
 font-size: 25px;
 margin-right: 80px;
 letter-spacing: 5px;
 
}

.out {

  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-color: orange;
  border-width: 4px;
  color:orange;
  font-size: 25px;
  letter-spacing: 5px;
 


}




.time {
  background-color: #FFFFFF;
  height: 100%;
  width: 400px;
}

.bottom-content {
  height: 200px;
  background-color:#DDDDDD;
  display: flex;
 
  width: 100vw;
  background-color:#f0f0f0;

}
.check-in {
  background-color:gray;
  width: 50vw;
  height: 100%;
}
.check-out {
  background-color:lightgray;
  height: 100%;
  width: 50vw;
}



.time {
  font-size: 25px;
  height: calc(100vh - 80px - 200px);
}

#text-time {
  font-size: 80px;
  float: right;
 
}

#text-second {
  font-size: 30px;
  float: right;
  padding-right: 60px;

 
}

.hour-minutes {
  height: 130px;
  padding-right: 60px;
}

.second {
  height :45px;
}



.year-month-day {
  padding-left: 30px;
  height: 200px;
 
  
}


#text-year {
  font-size: 40px;
 
}

#text-date {
  font-size: 60px;
 
}

.date-day {
  padding-left: 60px;

  }
 
  #text-day {
    font-size:40px;
    padding-left: 60px;

   
  }

 
  /*========= 画像確認画面のためのCSS ===============*/

  #g-nav {
    background: rgb(255 255 255 / 91%);
    position: absolute;
    z-index: 1;
    top: 3.125rem;
    left: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0;
    transition: .7s; /* ← 追加 */
    margin:0 auto;
  }
  #g-nav.open-menu {
    width:500px;
    height:600px

  
  }

  #g-nav header,footer {
    background-color:red;
    height: 50px;
    
  }
  

  .heading {
    display: flex;
    height: 50px;
    background-color: lightgray;

    align-items: center;
  }

  .cancel {
    padding-left:20px;
    color: rgb(255, 60, 0);
   

  }
  #timer {
    padding-right:20px;
    color: rgb(255, 60, 0);
    font-size: 20px;

  }

  .confirm {
    margin: auto;
    margin-left: 150px;
  }

  #picture {
    margin-top:20px;
  }

  #h2 {
    font-size: 40px;
    
  }

  #time-check {
    font-size: 30px;
    
  }

  footer {
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    width:100%;
    font-size: 30px;
    background-color: rgb(144, 238, 152) ;
    color: white;
    letter-spacing: 8px;
  }